@charset "UTF-8";
@media (min-width:769px) and (max-width:1199px){
  #contents>section:nth-child(1) {height:900px;}
  #contents>section:nth-child(3) {height:1300px;}
  #contents>section:nth-child(4) {height:700px;}

/* -----main----- */
  .sec1_top {
    width:100%;
  }
  .sec1_btm {
    height:auto;
    padding:10% 0;
  }
  .sec1_btm_bigbox  {
    width:90%;
  }
  .sec1_btm_box {
    width:180px;
    height:280px;
  }
  .sec1_btm_box>img {
    width:180px;
    height:230px;
  }
  .sec1_btm_box>p {
    font-size:16px;
  }
  .sec1_btm_box>button {
    padding:2px 5px;
  }
/* -----New in----- */
  .sec2_top img {
    width:100%;
  }
  .sec2_btm {
    width:90%;
  }
  .sec2_btm_box {
    width:100%;
  }
/* The Art of Performance */
  .sec3_top {
    width:100%;
  }
  .sec3_btm {
    width:100%;
    height:850px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .sec3_btm_box {
    height:auto;
  }
/* ------Gifts------ */
  .sec4_top {
    width:100%;
    height:auto;
  }
  .sec4_img_box {
    width:90%;
    height:100%;
  }
  .sec4_img_box img {
    width:100%;
    height:100%;
  }
  .sec4_top_text {
    width:90%;
    height:100%;
    padding:0 10px;
  }
  .sec4_btm {
    width:100%;
    height:auto;
  }
  .sec4_btm_text {
    width:90%;
    height:100%;
    padding:0 10px;
  }
/* ------Login------ */
  .sec5_top {
    width:100%;
    height:380px;
  }
  .sec5_top>img {
   width:270px;
  }
  .sec5_top h3 {
    width:90%;
    text-align:center;
  }
  .sec5_btm {
    width:100%;
  }
  .sec5_btm .idpassword {
    width:300px;
    height:40px;
  }
  .sec5_btm button {
    width:300px;
    height:40px;
  }


}